In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

## Criação dos modelos com as diferentes distâncias:

### Modelo sklearn

In [2]:
KNN=KNeighborsClassifier()

### Modelo implementado, sem alteração

In [4]:
from math import sqrt
class KNNNormal():
  def __init__(self,k):
    self.k=k
    print(self.k)
  def fit(self,X_train,y_train):
    self.x_train=X_train
    self.y_train=y_train
  def calculate_euclidean(self,sample1,sample2):
    distance=0.0
    for i in range(len(sample1)):
      distance+=(sample1[i]-sample2[i])**2 #Euclidean Distance = sqrt(sum i to N (x1_i – x2_i)^2)
    return sqrt(distance)
  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.x_train)):
      distances.append((self.y_train[i],self.calculate_euclidean(self.x_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

### Modelo com distância de Manhattan

In [5]:
from math import sqrt
class KNNManhattan():
  def __init__(self,k):
    self.k=k
    print(self.k)
  def fit(self,X_train,y_train):
    self.x_train=X_train
    self.y_train=y_train
  def calculate_manhattan(self, sample1, sample2):
    distance = 0.0
    for i in range(len(sample1)):
        distance += abs(sample1[i] - sample2[i]) # Manhattan Distance = sum i to N |x1_i – x2_i|
    return distance
  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.x_train)):
      distances.append((self.y_train[i],self.calculate_manhattan(self.x_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

### Modelo com distância de Hamming

In [91]:
from math import sqrt
class KNNHamming():
  def __init__(self,k):
    self.k=k
    print(self.k)
  def fit(self,X_train,y_train):
    self.x_train=X_train
    self.y_train=y_train
  def calculate_hamming(self, sample1, sample2):
    distance = sum(1 for i in range(len(sample1)) if sample1[i] != sample2[i])
    return distance

  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.x_train)):
      distances.append((self.y_train[i],self.calculate_hamming(self.x_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

### Modelo com distância de jaccard

In [7]:
from math import sqrt
class KNNJaccard():
  def __init__(self,k):
    self.k=k
    print(self.k)
  def fit(self,X_train,y_train):
    self.x_train=X_train
    self.y_train=y_train
  def calculate_jaccard(self, sample1, sample2):
    set1 = set(sample1)
    set2 = set(sample2)
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    distance = 1 - (intersection / union)
    return distance

  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.x_train)):
      distances.append((self.y_train[i],self.calculate_jaccard(self.x_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

### Modelo com a distância de Chebyshev

In [8]:
from math import sqrt
class KNNChebyshev():
  def __init__(self,k):
    self.k=k
    print(self.k)
  def fit(self,X_train,y_train):
    self.x_train=X_train
    self.y_train=y_train
  def calculate_chebyshev(self,sample1,sample2):
    distance = max([abs(sample1[i]-sample2[i]) for i in range(len(sample1))])
    return distance
  def nearest_neighbors(self,test_sample):
    distances=[]#calculate distances from a test sample to every sample in a training set
    for i in range(len(self.x_train)):
      distances.append((self.y_train[i],self.calculate_chebyshev(self.x_train[i],test_sample)))
    distances.sort(key=lambda x:x[1])#sort in ascending order, based on a distance value
    neighbors=[]
    for i in range(self.k): #get first k samples
      neighbors.append(distances[i][0])
    return neighbors
  def predict(self,test_set):
    predictions=[]
    for test_sample in test_set:
      neighbors=self.nearest_neighbors(test_sample)
      labels=[sample for sample in neighbors]
      prediction=max(labels,key=labels.count)
      predictions.append(prediction)
    return predictions

## Tratamento dos dados e teste dos modelos.
### DATASET 1 - Animais

In [73]:
dataset = pd.read_csv('adulto.csv')

In [74]:
dataset.head()

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,1,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,2,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,3,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,5,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [75]:
for column in ['workclass',  'education',
       'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country',
       'class']:
    le = LabelEncoder()
    dataset[column] = le.fit_transform(dataset[column])

In [76]:
dataset.head()

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,1,25,3,226802,1,7,4,7,3,2,1,0,0,40,26,0
1,2,38,3,89814,11,9,2,5,0,4,1,0,0,50,26,0
2,3,28,2,336951,7,12,2,11,0,4,1,0,0,40,26,1
3,4,44,3,160323,15,10,2,7,0,2,1,7688,0,40,26,1
4,5,18,0,103497,15,10,4,0,3,4,0,0,0,30,26,0

In [77]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

## Teste 1
### Modelo que obtemos diretamente a partir do sklearn

In [79]:
KNN.fit(X_train,y_train)

In [80]:
Y_pred=KNN.predict(X_test)
print("Accuracy = ", accuracy_score(y_test,Y_pred))

Accuracy =  0.7466666666666667

## Teste 2
### Código do modelo, sem a alteração

In [81]:
KNN2=KNNNormal(5) #our model
KNN2.fit(X_train,y_train)

5

In [82]:
Y1_pred = KNN2.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7466666666666667

## Teste 3
### Distância de Manhattan

In [83]:
KNN3=KNNManhattan(5) #our model
KNN3.fit(X_train,y_train)

5

In [84]:
Y1_pred = KNN3.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7466666666666667

## Teste 4
### Distância de Hamming - Neste teste foi a melhor porque se tratam de dados categóricos e esta distância tem em conta esses dados ao medir a quantidade o numero de caracteristicas categóricas em que os pontos diferem.

In [92]:
KNN4=KNNHamming(5) #our model
KNN4.fit(X_train,y_train)

5

In [93]:
Y1_pred = KNN4.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7966666666666666

## Teste 5
### Distância de Jaccard

In [94]:
KNN5=KNNJaccard(5) #our model
KNN5.fit(X_train,y_train)

5

In [95]:
Y1_pred = KNN5.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7666666666666667

## Teste 6
### Distância de Chebyshev

In [96]:
KNN6=KNNChebyshev(5) #our model
KNN6.fit(X_train,y_train)

5

In [97]:
Y1_pred = KNN6.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7633333333333333

### Dataset 2 -  Prever letras

In [98]:
dataset = pd.read_csv('letter.csv')

In [42]:
dataset.head()

,id,'x-box','y-box','width','high','onpix','x-bar','y-bar','x2bar','y2bar','xybar','x2ybr','xy2br','x-ege','xegvy','y-ege','yegvx','class'
0,1,2,4,4,3,2,7,8,2,9,11,7,7,1,8,5,6,Z
1,2,4,7,5,5,5,5,9,6,4,8,7,9,2,9,7,10,P
2,3,7,10,8,7,4,8,8,5,10,11,2,8,2,5,5,10,S
3,4,4,9,5,7,4,7,7,13,1,7,6,8,3,8,0,8,H
4,5,6,7,8,5,4,7,6,3,7,10,7,9,3,8,3,7,H

In [43]:
for column in dataset.columns:
    le = LabelEncoder()
    dataset[column] = le.fit_transform(dataset[column])

In [44]:
dataset.head()

,id,'x-box','y-box','width','high','onpix','x-bar','y-bar','x2bar','y2bar','xybar','x2ybr','xy2br','x-ege','xegvy','y-ege','yegvx','class'
0,0,2,4,4,3,2,7,8,2,9,11,7,6,1,7,5,6,25
1,1,4,7,5,5,5,5,9,6,4,8,7,8,2,8,7,10,15
2,2,7,10,8,7,4,8,8,5,10,11,2,7,2,4,5,10,18
3,3,4,9,5,7,4,7,7,13,1,7,6,7,3,7,0,8,7
4,4,6,7,8,5,4,7,6,3,7,10,7,8,3,7,3,7,7

In [45]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### Teste 1

In [47]:
KNN.fit(X_train,y_train)

KNeighborsClassifier()

In [48]:
Y_pred=KNN.predict(X_test)
print("Accuracy = ", accuracy_score(y_test,Y_pred))

Accuracy =  0.8688524590163934

In [49]:
KNN=KNNNormal(5) #our model
KNN1.fit(X_train,y_train)

5

In [50]:
Y1_pred = KNN1.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.8830601092896175

In [51]:
KNN3=KNNManhattan(5) #our model
KNN3.fit(X_train,y_train)

5

In [52]:
Y1_pred = KNN2.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.885792349726776

In [53]:
KNN3=KNNHamling(5) #our model
KNN3.fit(X_train,y_train)

5

In [54]:
Y1_pred = KNN3.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.7808743169398907

In [55]:
KNN4=KNNJaccard(5) #our model
KNN4.fit(X_train,y_train)

5

In [56]:
Y1_pred = KNN4.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.23278688524590163

In [57]:
KNN5=KNNChebyshev(5) #our model
KNN5.fit(X_train,y_train)

5

In [58]:
Y1_pred = KNN5.predict(X_test)
print("Accuracy = ", accuracy_score(y_test, Y1_pred))

Accuracy =  0.8131147540983606